<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'OrNisanList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateOrNisanCommand')" class="pull-right" data-toggle="modal" data-target="#ornisan"> <i style="color:white"  title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>
							<table mat-table [dataSource]="dataSource" matSort>


								
                   <ng-container matColumnDef="orNisanId">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'OrNisanId'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.orNisanId}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="photo">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Photo'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.photo}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="detay">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Detay'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.detay}}</td>
				   </ng-container>


           <ng-container matColumnDef="file" >
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="width: 25px;" mat-cell
              *matCellDef="let element">
              <a *ngIf="checkClaim('UpdateOrNisanCommand')" data-toggle="modal" data-target="#photoModal"  (click)="upFile(element.orNisanId)">
                <i title="{{'File'| translate}}" style="color:#ff5722;" class="far fa-documents"></i>
              </a>
            </td>
          </ng-container>

								<ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateOrNisanCommand')" data-toggle="modal" data-target="#ornisan"  (click)="getOrNisanById(element.orNisanId)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td  style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteOrNisanCommand')" (confirm)="deleteOrNisan(element.orNisanId)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
              <mat-label style="float: right; margin-right: 2rem;">Not 345px; 431px; fotoğraflara göre ayarlanmıştır</mat-label>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="ornisan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(orNisanAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'OrNisanForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="orNisanAddForm" [formGroup]="orNisanAddForm" (ngSubmit)="save()">
          
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="photo" type="text" id="photo" name="photo"
                       formControlName="photo" />
                <div class="alert alert-danger"
                     *ngIf="orNisanAddForm.get('photo')!.hasError('photo') && orNisanAddForm.get('photo')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="detay" type="text" id="detay" name="detay"
                       formControlName="detay" />
                <div class="alert alert-danger"
                     *ngIf="orNisanAddForm.get('detay')!.hasError('detay') && orNisanAddForm.get('detay')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-angular fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(photoForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'OrNisanForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="photoForm" [formGroup]="photoForm" (ngSubmit)="addPhotoSave()">
          
				
					<div class="row">
            <div class="col col-md-12">
             
                <input  placeholder="id" type="hidden" id="id" name="id"
                       formControlName="id" />
                <div class="alert alert-danger"
                     *ngIf="photoForm.get('id')!.hasError('id') && photoForm.get('id')!.dirty">
                </div>
             
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              
                <input style="float: left;" placeholder="file" type="file" id="file" name="file"  (change)="uploadFile($event)"
                       formControlName="file" />
                <div class="alert alert-danger"
                     *ngIf="photoForm.get('file')!.hasError('file') && photoForm.get('file')!.dirty">
                </div>
              
            </div>
          </div>
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>


<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

